* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}

body > header nav.navbar {
  background-color: #233f56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.containerIndex, body div.containerEmpresa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.containerIndex section.portada, body div.containerEmpresa section.portada {
  margin: 30px;
}

body div.containerIndex section.portada article.carousel__inicio, body div.containerEmpresa section.portada article.carousel__inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.containerIndex section.portada article.carousel__inicio > h1.carousel__inicio--destacado, body div.containerEmpresa section.portada article.carousel__inicio > h1.carousel__inicio--destacado {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  color: #6f9aa9;
  text-align: left;
  margin: 50px 0px 10px 0px;
}

body div.containerIndex section.portada article.carousel__inicio .carousel__inicio--parrafoLema, body div.containerEmpresa section.portada article.carousel__inicio .carousel__inicio--parrafoLema {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  color: #233f56;
  margin: 30px 50px 50px 50px;
}

body div.containerIndex section.estiloConstrucciones, body div.containerEmpresa section.estiloConstrucciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

body div.containerIndex section.estiloConstrucciones > h1, body div.containerEmpresa section.estiloConstrucciones > h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  color: #6f9aa9;
  margin: 30px;
}

body div.containerIndex section.estiloConstrucciones .card-group, body div.containerEmpresa section.estiloConstrucciones .card-group {
  margin: 10px;
}

body div.containerIndex section.estiloConstrucciones .card-group h5, body div.containerEmpresa section.estiloConstrucciones .card-group h5 {
  color: #6f9aa9;
}

body div.containerIndex section.estiloConstrucciones .card-group p, body div.containerEmpresa section.estiloConstrucciones .card-group p {
  color: #233f56;
}

body div.containerEmprendimientos {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

body div.containerEmprendimientos section.imagenEmprendimientos {
  margin: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.containerEmprendimientos section.imagenEmprendimientos > div {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.containerEmprendimientos section.imagenEmprendimientos > div > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: bold;
  color: #6f9aa9;
  margin: 10px;
  text-align: center;
}

body div.containerEmprendimientos section.imagenEmprendimientos > div > p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #233f56;
  margin: 10px;
  text-align: justify;
}

body div.containerEmprendimientos section.imagenEmprendimientos > div > div.imagenEmprendimientos_horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.containerEmprendimientos section.imagenEmprendimientos > div > div.imagenEmprendimientos_horizontal > img {
  margin: 10px;
  width: 50%;
  max-width: 650px;
}

body div.containerEmpresa {
  width: 100%;
  min-height: 100vh;
}

body div.containerEmpresa section.encabezadoIntroductorio {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 70px;
}

body div.containerEmpresa section.encabezadoIntroductorio article {
  margin: 0px 30px;
}

body div.containerEmpresa section.encabezadoIntroductorio article > h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  color: #6f9aa9;
}

body div.containerEmpresa section.encabezadoIntroductorio article > p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #233f56;
  margin-top: 10px;
}

body div.containerEmpresa section.cuerpoUbicaciones {
  margin: 10px;
}

body div.containerEmpresa section.cuerpoUbicaciones .tituloTabla {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  color: #6f9aa9;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin: 30px;
}

body div.containerEmpresa section.cuerpoUbicaciones .card {
  margin-top: 10px;
}

body div.containerEmpresa section.cuerpoUbicaciones .card h5 {
  color: #6f9aa9;
}

body div.containerEmpresa section.cuerpoUbicaciones .card p {
  color: #233f56;
}

body div.containerEmpresa section.cuerpoUbicaciones article > table {
  margin-top: 30px;
}

body div.containerEmpresa section.cuerpoUbicaciones article > table th {
  color: #6f9aa9;
}

body div.containerEmpresa section.cuerpoUbicaciones article > table td {
  font-family: 'Roboto', sans-serif;
  color: #233f56;
}

body div.containerEmpresa section.cuerpoUbicaciones article > table td > ol {
  list-style: none;
  list-style-position: inside;
}

body div.containerEmpresa section.cuerpoUbicaciones article > table td > ul {
  list-style: none;
}

body div.containerMedios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}

body div.containerMedios section.cuerpoMedios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.containerMedios section.cuerpoMedios h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  color: #6f9aa9;
  margin: 100px 0px 0px;
}

body div.containerMedios section.cuerpoMedios .card-group {
  margin: 70px;
}

body div.containerMedios section.cuerpoMedios .card-group h5 {
  color: #6f9aa9;
}

body div.containerMedios section.cuerpoMedios .card-group p {
  color: #233f56;
}

body div.containerContacto {
  width: 100%;
}

body div.containerContacto > section {
  margin: 10px 0px;
}

body div.containerContacto > section form {
  width: 100%;
}

body div.containerContacto > section form legend {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  color: #6f9aa9;
  margin: 70px 0px 0px;
}

body div.containerContacto > section form i {
  color: #6f9aa9;
}

body div.containerContacto > section form .form-group {
  margin: 10px;
}

body div.containerContacto > section form button {
  background-color: #233f56;
  margin-top: 10px;
}

body footer.zocalo {
  background-color: #233f56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0px 3rem;
}

body footer.zocalo > div > a.zocalo__logoRedes {
  font-size: 2rem;
  color: #aabdcc;
  margin: 0.5rem;
}

body footer.zocalo > div.zocalo__informacion {
  margin: 0.2rem;
}

body footer.zocalo > div.zocalo__informacion > h4.zocalo__informacion--suave {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  color: #aabdcc;
  margin: 0.1rem;
}

@media only screen and (min-width: 401px) and (max-width: 768px) {
  body footer.zocalo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  body .imagenEmprendimientos_horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .imagenEmprendimientos_horizontal > img {
    margin: 5px;
    width: 100%;
    min-width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  body footer.zocalo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  body .containerEmprendimientos .imagenEmprendimientos .imagenEmprendimientos_horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .containerEmprendimientos .imagenEmprendimientos .imagenEmprendimientos_horizontal > img {
    margin: 5px;
    width: 100%;
    min-width: none;
  }
}
/*# sourceMappingURL=style.css.map */